<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">

 </head>

<body>
  <div id="app" class="">
    <div class="container">
<!-- Header Row  -->

<!-- Main Row -->
      <div class="row" id="mainRow">
        <!-- Map Colum -->
        <div class="col-md-6" id="mapColumn" >
          <div> <h3> {{mapMessage}}</h3>  </div>

          <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
             <path
              v-for="kingdom in allKingdoms"
              v-bind:class="kingdom.path.pathClass"
              v-bind:d="kingdom.path.pathData"

              />
          </svg>

        </div>

        <!-- Player Column -->
        <div class="col-md-6">
          <div class="card" id="mainRowCard">
            <div class="row" id="header">
              <div class="col-md-6">
                <h1 class="" data-writefull-timeout="null">{{players[turn].name}} </h1>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-primary" v-on:click="nextTurn()">Next Turn</button>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">Attack</h4>
              <p class="card-text p-y-1">Choose the attacker and defenders.</p>
              <select class="btn btn-outline-primary dropdown-toggle" v-model="attacker">
                <option  v-for="kingdom, index in players[turn].myKingdoms"
                v-bind:value="kingdom.name" > {{kingdom.name}} </option>
              </select>
              <select class="btn btn-outline-primary dropdown-toggle" v-model="defender">
                <option  v-for="kingdom, index in players[turn].myKingdoms"
                v-bind:value="kingdom.name" > {{kingdom.name}} </option>
              </select>
            <button class="btn btn-outline-primary" v-on:click="attack(attacker, defender)">Attack</button>
           </div>

           <div class="card-block">
             <h4 class="card-title">Move</h4>
             <p class="card-text p-y-1">Move troops from one Kingdom to another.</p>
             <select class="btn btn-outline-primary dropdown-toggle" v-model="move1">
               <option  v-for="kingdom, index in players[turn].myKingdoms"
               v-bind:value="kingdom.name" > {{kingdom.name}} </option>
             </select>
             <select class="btn btn-outline-primary dropdown-toggle" v-model="move2">
               <option  v-for="kingdom, index in players[turn].myKingdoms"
               v-bind:value="kingdom.name" > {{kingdom.name}} </option>
             </select>
           <button class="btn btn-outline-primary" v-on:click="move(move1, move2)">Move</button>
          </div>
        </div>
        <div class="card" id="mainRowCard">
          <div class="card-block">
          <table class="table" id="mainTable">
            <thead>
              <tr>
                <th>My Kingdoms</th>
                <th>Armies: {{players[turn].totalPower}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="kingdom, index in players[turn].myKingdoms" >
                <td>{{kingdom.name}}</td>
                <td>{{kingdom.power}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        </div>

      </div>
      <!-- End Player Column -->
    </div>
    <div class="row" id="bottomRow">

      <div class="col-md-4">

      <div class="card">
        <div class="card-block">

        <table class="table">
          <thead>
            <tr>
              <th>{{playerTwo.name}}'s Kingdoms</th>
              <th>Armies: {{playerTwo.totalPower}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="kingdom, index in playerTwo.myKingdoms" >
              <td>{{kingdom.name}}</td>
              <td>{{kingdom.power}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="card">
        <div class="card-block">

        <table class="table">
          <thead>
            <tr>
              <th>{{playerThree.name}}'s Kingdoms</th>
              <th>Armies: {{playerThree.totalPower}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="kingdom, index in playerThree.myKingdoms" >
              <td>{{kingdom.name}}</td>
              <td>{{kingdom.power}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">

          <table class="table">
            <thead>
              <tr>
                <th>{{playerOne.name}}'s Kingdoms</th>
                <th>Armies: {{playerOne.totalPower}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="kingdom, index in playerOne.myKingdoms" >
                <td>{{kingdom.name}}</td>
                <td>{{kingdom.power}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
  </div>
  </div>

  <!-- <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> <button class="close" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body...</p>
            <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="#">Separated link</a> </div>
            </div>
            <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="#">Separated link</a> </div>
            </div>
          </div>
          <div class="modal-footer"> <a class="btn btn-default" data-dismiss="modal">Close</a> <a class="btn btn-primary">Save
                  changes</a> </div>
        </div>
      </div>
    </div> -->

</div>

 <!-- Closing App -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://unpkg.com/vue"></script>

  <script src="game.js"></script>
  <script>
    let turn = 0;
    var app = new Vue({
      el: '#app',
      data: {
        allKingdoms: allKingdoms,
        players: players,
        turn: turn,
        playerOne: one,
        playerTwo: two,
        playerThree: three,
        attacker: '',
        defender: '',
        move1: '',
        move2: '',
        mapMessage: '',
      },
      methods: {
        attack : function (theattacker, thedefender) {
          console.log('ATTACK', theattacker, thedefender)
          this.players[this.turn].totalKingdoms[theattacker].attack(this.players[this.turn].totalKingdoms[thedefender]);
        },
        move : function (move1, move2) {
          this.players[this.turn].move(this.players[this.turn].totalKingdoms[move1], this.players[this.turn].totalKingdoms[move2], 2);
        },
        nextTurn: function () {
          if (this.turn == (this.players.length-1)) {
            this.turn = 0;
          } else{
            this.turn += 1;
          }
        },
        mapMessageUpdate (kingdom) {
            this.mapMessage = "kingdom";
        },
      }
    })
  </script>
</body>

</html>
