<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">

 </head>

<body>
  <div id="app" class="">
    <div class="container">
<!-- Header Row  -->
      <div class="row" id="header">
        <div class="col-md-6">
          <h1 class="" data-writefull-timeout="null">Turn: {{turn.name }} </h1>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-primary" v-on:click="nextTurn()">Next Turn</button>
        </div>
      </div>
<!-- Main Row -->
      <div class="row" id="mainRow">
        <!-- Map Colum -->
        <div class="col-md-6" id="mapColumn" >

          <div id="map">

          </div>
          <!-- <div class="card">
            <ul class="list-group">
              <li class="list-group-item"  v-for="kingdom, index in allKingdoms">
                  {{kingdom.name}} , {{kingdom.power}}
                </li>
            </ul>
          </div> -->

        <!-- <image src="nyc.svg"> -->

        </div>
        <!-- Player Column -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Attack</h4>
              <p class="card-text p-y-1">Choose the attacker and defenders.</p>
              <select class="btn btn-outline-primary dropdown-toggle" v-model="attacker">
                <option  v-for="kingdom, index in playerOne.myKingdoms"
                v-bind:value="kingdom.name" > {{kingdom.name}} </option>
              </select>
              <select class="btn btn-outline-primary dropdown-toggle" v-model="defender">
                <option  v-for="kingdom, index in playerOne.myKingdoms"
                v-bind:value="kingdom.name" > {{kingdom.name}} </option>
              </select>
            <button class="btn btn-outline-primary" v-on:click="attack(attacker, defender)">Attack</button>
           </div>

           <div class="card-block">
             <h4 class="card-title">Move</h4>
             <p class="card-text p-y-1">Move troops from one Kingdom to another.</p>
             <select class="btn btn-outline-primary dropdown-toggle" v-model="move1">
               <option  v-for="kingdom, index in playerOne.myKingdoms"
               v-bind:value="kingdom.name" > {{kingdom.name}} </option>
             </select>
             <select class="btn btn-outline-primary dropdown-toggle" v-model="move2">
               <option  v-for="kingdom, index in playerOne.myKingdoms"
               v-bind:value="kingdom.name" > {{kingdom.name}} </option>
             </select>
           <button class="btn btn-outline-primary" v-on:click="move(move1, move2)">Move</button>
          </div>
        </div>
        <div class="card">

          <div class="card-block">
          <table class="table">
            <thead>
              <tr>
                <th>My Kingdoms</th>
                <th>Armies: {{playerOne.totalPower}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="kingdom, index in playerOne.myKingdoms" >
                <td>{{kingdom.name}}</td>
                <td>{{kingdom.power}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        </div>

      </div>
      <!-- End Player Column -->
    </div>
    <div class="row" id="bottomRow">

      <div class="col-md-4">

      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th>{{playerTwo.name}}'s Kingdoms</th>
              <th>Armies: {{playerTwo.totalPower}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="kingdom, index in playerTwo.myKingdoms" >
              <td>{{kingdom.name}}</td>
              <td>{{kingdom.power}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">

      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th>{{playerTwo.name}}'s Kingdoms</th>
              <th>Armies: {{playerTwo.totalPower}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="kingdom, index in playerTwo.myKingdoms" >
              <td>{{kingdom.name}}</td>
              <td>{{kingdom.power}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="col-md-4">

        <div class="card">
          <table class="table">
            <thead>
              <tr>
                <th>{{playerTwo.name}}'s Kingdoms</th>
                <th>Armies: {{playerTwo.totalPower}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="kingdom, index in playerTwo.myKingdoms" >
                <td>{{kingdom.name}}</td>
                <td>{{kingdom.power}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
  </div>
  </div>

  <!-- <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> <button class="close" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body...</p>
            <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="#">Separated link</a> </div>
            </div>
            <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="#">Separated link</a> </div>
            </div>
          </div>
          <div class="modal-footer"> <a class="btn btn-default" data-dismiss="modal">Close</a> <a class="btn btn-primary">Save
                  changes</a> </div>
        </div>
      </div>
    </div> -->

</div>

 <!-- Closing App -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="raphael-min.js"></script>
  <script src="map.js"></script>

  <script src="game.js"></script>
  <script>
    let turn = one;

    var app = new Vue({
      el: '#app',
      data: {
        allKingdoms: allKingdoms,
        turn: turn,
        playerOne: one,
        playerTwo: two,
        attacker: '',
        defender: '',
        move1: '',
        move2: '',
        // winterfell: winterfell
      },
      methods: {
        attack : function (theattacker, thedefender) {
          turn.totalKingdoms[theattacker].attack(turn.totalKingdoms[thedefender]);
        },
        move : function (move1, move2) {
          turn.move( turn.totalKingdoms[move1],turn.totalKingdoms[move2], 2);
        },
        nextTurn: function () {
          if (turn.name == one.name) {
            console.log("Turn Two: ");
            turn = two;
          } else {
            turn = one;
            console.log("Turn One");
          }
        },
      }
    })
  </script>
</body>

</html>
